@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap');
@import url('/sentient.css');
@import url('https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap');

.yarndings-20-regular {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
    margin:5px 10px;
    padding: 0px;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.header{
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    margin:15px 20px 30px 20px;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    border-bottom: #000 1px solid;
}

.headL, #headC, .headR{
    margin:0px;
    display: inline-flex;
}

#headC{
    position:absolute;
    top:30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.diamond{
    padding-top: 7px;
    margin:0px 2px; 
    font-family: "Yarndings 20", system-ui;
    font-size: 18px;
}

p.shu{
    font-family:"Rethink Sans", sans-serif;
    font-size: 18px;
}

h1.myName{
    font-family:'Sentient-Extralight';
    font-size: 18px;
}

h1.nav{
    font-family:'Sentient-Extralight';
    font-size: 18px;
}

.nav-button {
    font-family:'Sentient-Extralight';
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.nav-button:hover {
    text-decoration: underline;
}

#about{
    margin-top:-20px;
    height:150px;
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.6s ease, opacity 0.6s ease, margin 0.6s ease;
}

#about.collapsed {
    height: 0;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
}

p.greeting{
    margin-left:110px;
    margin-bottom: 10px;
    font-family:"Rethink Sans", sans-serif;
    font-size: 24px;
}

.bioParagraph{
    max-width: 480px;
    line-height: 1.6;
}

p.bioParagraph{
    margin-left:110px;
    margin-top:20px;
    font-family:"Rethink Sans", sans-serif;
    font-size: 18px;
}

#links{
    margin-left: 165px;
    padding-top:37px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family:"Rethink Sans", sans-serif;
    max-height:80px;
    font-size: 18px;
    line-height: 19px;
}
a#links{
    margin:0px;
}

/* #im_at{
    padding-top:66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family:"Rethink Sans", sans-serif;
    max-height:80px;
    margin-right: 120px;
    font-size: 18px;
}

p#im_at{
    margin:0px;
    font-size: 24px;
}

a#im_at{
    margin:0px;
    font-size: 24px;
}    */

p#links{
    margin:0px;
}
#bio{
    max-width:670px;
    margin-top: 20px;
}

#bioImageContainer{
    margin-left: 100px;
    width:200px;
    height:285px;
    overflow: hidden;
} 
.bioImage{
    margin-top:25px;
    float:right;
    max-width:190px;
}

/* Portfolio Body Section */
.body {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    flex: 1;
    transition: all 0.6s ease;
    overflow: hidden;
    box-sizing: border-box;
}

/* Default State - Grid View */
#left, #right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: width 0.6s ease;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 2;
    background-color: #f5f5f5;
}

#left {
    left: 0px;
    align-items: center;
}

#right {
    right: 0px; 
    align-items: center;
}

#center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 871px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Expanded State - Detail View */
.body.expanded #left {
    width: calc((100% - 871px) / 2);
}

.body.expanded #right {
    width: calc((100% - 871px) / 2);
}

.body.expanded #center {
    opacity: 1;
}

/* Work Thumbnail Styling */
.work-item {
    width: auto;
    max-width: 90%;
    cursor: pointer;
    box-sizing: border-box;
}

/* Left-specific work items */
.work-item-left {
    margin: 0 40px 15px 0px;
    padding-left:80px;
    width: 680px;
    /* Add custom styles for left work items here */
}

/* Right-specific work items */
.work-item-right {
    margin: 0 0px 15px 0px;
    padding-right:80px;
    width: 680px;
    /* Add custom styles for right work items here */
}

.work-thumbnail {
    width: 100%;
    height: auto;
    display: block;
    background-color: #d3d3d3;
    min-height: 200px;
    box-sizing: border-box;
}

/* Left-specific thumbnails */
.work-thumbnail-left {
    /* Add custom styles for left thumbnails here */
}

/* Right-specific thumbnails */
.work-thumbnail-right {
    /* Add custom styles for right thumbnails here */
}

.body.expanded .work-item-left {
    width: 244px;
    margin: 0 0 15px 0;
    padding-left: 0px;
}

.body.expanded .work-item-right {
    width: 244px;
    padding-right: 0px;
}

.body.expanded .work-thumbnail {
    max-width: 223.5px;
}

.work-info {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 0 0;
    font-family: "Rethink Sans", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.work-title {
    font-weight: 500;
}

.work-category {
    font-weight: 400;
    font-style: italic;
}

/* Detail View Styling */
#detailDescription {
    margin-bottom: 30px;
    font-family: "Rethink Sans", sans-serif;
}

#detailTitle {
    font-family: 'Sentient-Regular';
    font-size: 32px;
    margin-bottom: 10px;
}

#detailCategory {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 15px;
}

#detailText {
    font-size: 16px;
    line-height: 1.6;
}

#detailImages {
    margin-bottom: 20px;
}

#detailMainImage {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    background-color: #d3d3d3;
    min-height: 400px;
}

#closeDetail {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: "Rethink Sans", sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#closeDetail:hover {
    background-color: #333;
}
