/* Main Stylesheet - Imports all modular CSS files */

@import url('/styles/variables.css');
@import url('/styles/base.css');
@import url('/styles/header.css');
@import url('/styles/about.css');
@import url('/styles/portfolio.css');
@import url('/styles/detail-view.css');
@import url('/styles/animations.css');
