@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap');
@import url('/sentient.css');
@import url('https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap');

.yarndings-20-regular {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
    margin:5px 10px;
    padding: 0px;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.header{
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    margin:15px 0px 0px 0px;
    padding:0px 50px 0px 50px;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    border-bottom: #000 1px solid;
}

.headL, #headC, .headR{
    margin:0px;
    display: inline-flex;
}

#headC{
    position:absolute;
    top:30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 0px;
}

.messageContainer {
    width: 0px;
    overflow: hidden;
    transition: width 0.6s ease;
    white-space: nowrap;
    font-family: "Rethink Sans", sans-serif;
    font-size: 18px;
}

p.diamond{
    padding-top: 7px;
    margin:0px 2px;
    font-family: "Yarndings 20", system-ui;
    font-size: 18px;
}

p.shu{
    font-family:"Rethink Sans", sans-serif;
    font-size: 18px;
}

h1.myName{
    font-family:'Sentient-Extralight';
    font-size: 18px;
}

h1.nav{
    font-family:'Sentient-Extralight';
    font-size: 18px;
}

.nav-button {
    font-family:'Sentient-Extralight';
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.nav-button:hover {
    text-decoration: underline;
}
