/* About Section Styles */

#about{
    margin-top: 30px;
    padding: 0px 40px;
    height: 150px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.6s ease, opacity 0.6s ease, margin 0.6s ease;
}

#about.collapsed {
    height: 0;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

p.greeting{
    margin-bottom: 10px;
    font-family:"Rethink Sans", sans-serif;
    font-size: 24px;
}

.bioParagraph{
    width: 465px;
    line-height: 1.6;
}

p.bioParagraph{
    font-family:"Rethink Sans", sans-serif;
    font-size: 18px;
}

#links{
    margin-top:20px;
    margin-right:118px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family:"Rethink Sans", sans-serif;
    max-height:80px;
    font-size: 18px;
    line-height: 28px;
}

a#links{
    margin:0px;
}

p#links{
    margin:0px;
}

#bio{
    max-width:670px;
    margin-top: 20px;
}


