/* About Section Styles */

.about-section {
    margin-top: var(--margin-about-top);
    padding: 0 var(--padding-about);
    height: var(--height-about);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height:110px;
    transition: height var(--transition-duration) var(--transition-easing),
                opacity var(--transition-duration) var(--transition-easing),
                margin var(--transition-duration) var(--transition-easing);
}

.about-section.collapsed {
    height: 0;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.greeting {
    margin-bottom: 10px;
    font-family: var(--font-primary);
    font-size: var(--font-size-large);
}

.bio-paragraph {
    width: var(--width-bio-paragraph);
    line-height: var(--line-height-base);
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
}

.about-links {
    margin-top: var(--margin-links-top);
    margin-right: var(--margin-links-right);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: var(--font-primary);
    max-height: var(--height-about-links);
    font-size: var(--font-size-base);
    line-height: var(--line-height-medium);
}

.about-links a,
.about-links p {
    margin: 0;
}

.about-bio {
    max-width: var(--width-bio-max);
    margin-top: var(--margin-bio-top);
    height:80px;
}


