/* Animations and Keyframes */

.marquee {
    display: inline-block;
    animation: marquee var(--animation-marquee-duration) var(--transition-easing-linear) infinite;
    padding-right: var(--gap-portfolio-items);
    will-change: transform;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
