/* Base Styles - Resets, Fonts, HTML/Body */

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap');
@import url('/sentient.css');
@import url('https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap');

.yarndings-20-regular {
  font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
    margin:0px 0px;
    padding: 0px;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
