/* Header and Navigation Styles */

.header{
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    margin:20px 0px 0px 0px;
    padding:0px 50px 0px 50px;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    border-bottom: #000 1px solid;
}

a {
    text-decoration: none;
    color: black;
}
.headL, #headC, .headR{
    margin:0px;
    display: inline-flex;
    text-decoration: none;
}

#headC{
    position:absolute;
    top:30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 0px;
}

.messageContainer {
    width: 0px;
    overflow: hidden;
    transition: width 0.6s ease;
    white-space: nowrap;
    font-family: "Rethink Sans", sans-serif;
    font-size: 18px;
}

body:has(.body.expanded) .messageContainer {
    width: 150px;
}

p.diamond{
    padding-top: 7px;
    margin:0px 2px;
    font-family: "Yarndings 20", system-ui;
    font-size: 18px;
}

p.shu{
    font-family:"Rethink Sans", sans-serif;
    font-size: 18px;
}

h1.myName{
    font-family:'Sentient-Extralight';
    font-size: 18px;
}

h1.nav{
    font-family:'Sentient-Extralight';
    font-size: 18px;
    text-decoration: none;
}

.nav-button {
    font-family:'Sentient-Extralight';
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.nav-button:hover {
    text-decoration: underline;
}
